#sidebar {
  margin: 0;
  padding: 0;
  background: #333 url(:images/dark-leather);
}

QLabel {
  color: #fafafa;
}

QToolBar#toolbar {
  padding: 0;
  border: 0;
}

QToolButton {
  margin: 1em 0 0 0;
  border: none;
  padding: 0 3em 0 2em;
  color: #fafafa;
  font-weight: bold;
}

QToolButton:checked {
  background: #ddd;
  color: #333
}

QToolButton:hover {
  color: red;
}
