QToolBar#toolbar {
  padding: 0;
  icon-size: 16px 16px;
}

QToolButton, .box {
  margin: 0 1px 0 0;
  color: black;
  font-size: 10pt;
  border-image: url(:images/button-normal) 12 12 12 12;
  border: 12px transparent;
  padding: 5px 10px;
}

QToolButton:hover {
  border-image: url(:images/button-hover) 12 12 12 12;
}

QToolButton:checked {
  color: white;
  border-image: url(:images/button-pressed) 12 12 12 12;
}

#sidebar {
  background: #D2DCE4;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  border: none;
}

#sidebar QLabel.section {
  color: #3C4043;
  font-weight: bold;
  font-size: 10pt;
  padding: 5px;
}

#sidebar QLabel.icon {
  padding: 0.5em 0 0 0;
}

#sidebar #balance {
  padding: 0 0.5em;
  font-weight: normal;
  font-size: 9pt;
}

#sidebar QProgressBar {
  margin: 0 1em;
  background: transparent;
  padding: 0;
  border: 1px solid #707e8c;
  text-align: center;
  color: transparent;
}

#sidebar QProgressBar::chunk:horizontal {
  background: #707e8c;
}
