QToolBar#toolbar {
  margin: 0;
  icon-size: 16px 16px;
}

QToolButton {
  margin: 0 1px 0 0;
  border: none;
  padding: 2px 1em;
  color: black;
  font-size: 9pt;
}

QToolButton:hover {
  color: #1c4081;
}

QToolButton:checked {
  background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                              stop:0 #BBC4D5, stop:1 #9DAAC4);
  color: white;
}

#sidebar {
  border-right: 1px solid #ACABAB;
}

#sidebar {
  background: #DFE4EB;
  font-family: Helvetica, Arial, sans-serif;
}

#sidebar QLabel {
  color: #707e8c;
  padding: 0.5em 0.5em 0;
  font-weight: bold;
  font-size: 7.5pt;
}

#sidebar #balance {
  padding: 0 0.5em;
  font-weight: normal;
}
